.buttons-container {
    padding: 1mm;
    display: flex;
}

.buttons-container button {
    padding: 3%;
    width: 3cm;
    margin: auto;
    border-radius: 1cm;
    font-weight: bold;
}

#bank-button {
    background-color: yellow;
}

#work-button {
    background-color: rgb(167, 167, 255);
}